body {
  font-size: 12px;
  font-weight: 900;
  color: black;
}

.right{
  background: linear-gradient(to right, rgba(0,0,0,.5), white, white);
}

.left{
  background: linear-gradient(to right, rgba(0,0,0,.5), white, white);
}

.toppler{
  /*position: absolute;*/
  top: 0;
  left: 0;
  width : 640px;
  height: 55px;
  background-color: #FFFFFF;
  color: #252525;
  z-index: 10;
}

#thea {
  position : absolute;
  left : 2px;
  top : 2px;
  height : 20px;
  width : 20px;
  font-size: 20px;
  font-weight: bolder;
  text-align : center;
  background-color : rgb(241,241,241);
  color : #1f1f1f;
  border-radius : 25px;
  z-index : 99999;
  cursor : pointer;
  opacity : .5;
}

#thea.ON {
  background-color : #0067cf;
  color : #FFF;
  padding-right: 2px;
}

button {
  all:unset; 
  width: 40px; 
  font-size: 12px;
  font-weight: 900;
  padding: 0px 7px;
  text-align: center;
  cursor: pointer;
}

select {
  all: unset;
  height: 24px;
  font-size: 16px;
  font-weight: 900;
  align-items: center;
  text-align: center;
  border: solid 1px black;
  padding: 3px;
  padding-left: 20px;
}

/* INPUT RANGE */

.slider {
  -webkit-appearance: none;
  width: 150px;
  height: 30px;
  outline: none;
  opacity: 0.7;
  /*background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));*/
  background-image: url("chrome-extension://lgfpcmmoaelpegfnoobilhnhldkglock/bars-percent.png"), url("chrome-extension://ijplfhjpajedfhlmkjangheakafhmcmg/bars-percent.png"), url("bars-percent.png");
  border: 1px solid black;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 23px;
  cursor: pointer;
  background-image: url("chrome-extension://lgfpcmmoaelpegfnoobilhnhldkglock/like.png"), url("chrome-extension://ijplfhjpajedfhlmkjangheakafhmcmg/like.png"), url("like.png");
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 23px;
  cursor: pointer;
  background-image: url("chrome-extension://lgfpcmmoaelpegfnoobilhnhldkglock/like.png"), url("chrome-extension://ijplfhjpajedfhlmkjangheakafhmcmg/like.png"), url("like.png");
}
